// Body
$body-bg: #02021e;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$main-color: #3719ca;
$yellow-color: #ffe336;
$dark-color: #02021e;
$white-color: #fff;
$red-color: #e5003d;
$grey-color: #80808e;
$dark-grey-color: #32344d;
$dark-blue-color: #1e213d;


$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1900px;
