body .form-wrap.form-builder .frmb-control li{
	background: #02021e;
	&:hover{
		background:#00006f;
	}
}

body .form-wrap.form-builder .frmb li{
	background: #02021e;
}
body .form-wrap.form-builder .frmb .form-elements{
	background: #a0a0a0;
}
body .form-wrap.form-builder .frmb{
	border: solid 1px #fff;
	padding: 10px;
	border-radius: 5px;
}
.form-wrap.form-builder .frmb{
	color: #828282;
}
#createFormForm .formeo-editor{
	color: #000;
}

.formeo-render .formeo{
	.f-field-group{
		&:after{
			content:"";
			clear: both;
		}
	}
	.f-field-group .f-field-group{
		background: rgba(9, 9, 45, 0.8);
		padding: 24px 32px;
	}
	label{
		font-family: Sofia Pro;
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 25px;
		text-transform: uppercase;
	}
	input[type="text"],
	input[type="email"]{
		background: transparent;
		border: none;
		border-bottom: solid 1px rgba(255, 255, 255, 0.3);
		border-radius: 0;
		color: #fff;
	}
	.f-radio{
		float: left;
		width: 33.3%;
		margin-bottom: 32px;
	}
	input[type="radio"]{
		opacity: 0;
		position: absolute;
		&+label{
			position: relative;
			padding-left: 40px;
			&:before{
				content:"";
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				display: block;
				width: 24px;
				height: 24px;
				border: solid 1px #fff;
				border-radius: 50%;
			}
			&:after{
				content:url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.7099 1.20998C14.617 1.11625 14.5064 1.04186 14.3845 0.991091C14.2627 0.940323 14.132 0.914185 13.9999 0.914185C13.8679 0.914185 13.7372 0.940323 13.6154 0.991091C13.4935 1.04186 13.3829 1.11625 13.29 1.20998L5.83995 8.66998L2.70995 5.52998C2.61343 5.43674 2.49949 5.36343 2.37463 5.31423C2.24978 5.26502 2.11645 5.24089 1.98227 5.24321C1.84809 5.24553 1.71568 5.27426 1.5926 5.32776C1.46953 5.38125 1.35819 5.45846 1.26495 5.55498C1.17171 5.6515 1.0984 5.76545 1.04919 5.8903C0.999989 6.01516 0.975859 6.14848 0.97818 6.28266C0.980502 6.41684 1.00923 6.54925 1.06272 6.67233C1.11622 6.79541 1.19343 6.90674 1.28995 6.99998L5.12995 10.84C5.22291 10.9337 5.33351 11.0081 5.45537 11.0589C5.57723 11.1096 5.70794 11.1358 5.83995 11.1358C5.97196 11.1358 6.10267 11.1096 6.22453 11.0589C6.34639 11.0081 6.45699 10.9337 6.54995 10.84L14.7099 2.67998C14.8115 2.58634 14.8925 2.47269 14.9479 2.34619C15.0033 2.21969 15.0319 2.08308 15.0319 1.94498C15.0319 1.80688 15.0033 1.67028 14.9479 1.54378C14.8925 1.41728 14.8115 1.30363 14.7099 1.20998Z' fill='%2302021E'/%3E%3C/svg%3E");
				position: absolute;
				left: 0px;
				top: 50%;
				transform: translate(40%, -50%);
				width: 16px;
				height: 12px;
			}
		}
		&:checked{
			&+label{
				&:before{
					background:#fff;
				}
			}
		}
	}
}